<div class='well'>
  <%= form_for(@alert) do |f| %>
    <% if @alert.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

        <ul>
        <% @alert.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :enabled %>
      <%= f.check_box :enabled %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :int_type %>
      <%= f.select :int_type, ['interface','interface-group'] %>
    </div>
    <div class="field">
      <%= f.label :link_type %>
      <%= f.select :link_type_id, LinkType.all.collect {|link_type| [link_type.name, link_type.id]}  %>
    </div>
    <div class="field">
      <%= f.label :match_regex %>
      <%= f.text_field :match_regex %>
    </div>
    <div class="field">
      <%= f.label :percentile %>
      <%= f.select :percentile, [['99th', 1], ['95th', 5], ['90th', 10], ['75th', 25], ['50th', 50], ['All Data', 100]] %>
    </div>
    <p>
      <%= f.label :watermark, 'High Watermark:' %>
      <%= f.text_field :watermark, id: 'watermark_amount', class: "input-small" %>
      <div id="watermark" style="max-width: 200px; margin: 10px;"></div>
    </p>
    <div class="field">
      <%= f.label :days_back %>
      <%= f.number_field :days_back %>
    </div>
    <div class="field">
      <%= f.label :days_out %>
      <%= f.number_field :days_out %>
    </div>
    <p>
      <%= f.label :severity, 'Severity:' %>
      <%= f.text_field :severity, id: 'severity_amount', class: "input-small" %>
      <div id="severity" style="max-width: 200px; margin: 10px;"></div>
    </p>
    <div class="field">
      <%= f.label :contact_group_id %>
      <%= f.select :contact_group_id, ContactGroup.all.collect {|contact_group| [contact_group.name, contact_group.id]} %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>


<script type="text/javascript" charset="utf-8">
$(function () {
    $("#watermark").slider({
        value: <%= @alert.watermark || Setting.first.default_watermark %>, 
        min: 0.002,
        max: 1.000,
        step: 0.002,
        slide: function (event, ui) {
            $("#watermark_amount").val(ui.value);
        }
    });
    $("#watermark_amount").val($("#watermark").slider("value"));
});
$(function () {
    $("#severity").slider({
        value: <%= @alert.severity || 1 %>, 
        min: 1,
        max: 10,
        step: 1,
        slide: function (event, ui) {
            $("#severity_amount").val(ui.value);
        }
    });
    $("#severity_amount").val($("#severity").slider("value"));
});


$("#watermark_amount").change(function () {
    $("#watermark").slider('value', $("#watermark_amount").val());
});
$("#severity_amount").change(function () {
    $("#severity").slider('value', $("#severity_amount").val());
});
</script>

