<div class='well'>
  <%= form_for(@snmp) do |f| %>
    <% if @snmp.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@snmp.errors.count, "error") %> prohibited this snmp from being saved:</h2>

        <ul>
        <% @snmp.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :community_string %>
      <%= f.text_field :community_string %>
    </div>
    <div class="field">
      <%= f.label :default_community %>
      <%= f.check_box :default_community %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
